body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffbb98;
}

nav {
    background-color: #ffdfa4;
    
    
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



#offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.offer {
    background-color: #fbe0c3;
    border-radius: 5px;
    border: 3px solid black;
    margin: 1%;
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.offer img {
    max-height: 246px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid black;
}

.offer p {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 1.25em;
    padding: 10px;
    flex-grow: 1;
}

footer {
    background-color: #ffdfa4;
    padding: 20px 0;
    text-align: center;
    border: 3px solid black;
}

#contact_us_heading {
    margin: 0 0 10px;
    
}

#instagrams {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#instagrams a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 5px 0;
}
