

#instagrams a{
    text-decoration: none;
    display: block;   
}

#instagrams li{
    list-style: none;
    display: block;
}



#tshirts{
    background-color:#ffdfa4;
    min-height:250px;
    border-radius:5px;
    border:3px solid black;
    margin:3%;
}

#TshirtImg{
    max-height: 248px;
    padding:10px;
    float:left;
    padding:0px 5px 1px 5px;
}

#text1{
    overflow:right;
    padding:5%;
    padding-left:50%;
    color:white;
    font-size:1.25em;
}

#pants{
    background-color:#ffdfa4;
    min-height:250px;
    border-radius:5px;
    border:3px solid black;
    margin:3%;

}

#PantsImg{
    max-height: 248px;
    padding:10px;
    float:left;
    padding:0px 5px 1px 5px;
    margin:10px;
}

#text2{
    overflow:right;
    padding:5%;
    padding-left:50%;
    color:white;
    font-size:1.25em;
}

#sunglasses{
    background-color:#ffdfa4;
    min-height:250px;
    border-radius:5px;
    border:3px solid black;
    margin:3%;
}

#SunglassesImg{
    max-height: 248px;
    padding:10px;
    float:left;
    padding:0px 5px 1px 5px;
    margin:10px;
}

#text3{
    overflow:right;
    padding:5%;
    padding-left:50%;
    color:white;
    font-size:1.25em;
}

#shoes{
    background-color:#ffdfa4;
    min-height:250px;
    border-radius:5px;
    border:3px solid black;
    margin:3%;
}

#ShoesImg{
    max-height: 248px;
    float:left;
    margin:10px;
    border-radius: 5px;
    border:3px solid black;
}

#text4{
    overflow:right;
    padding:5%;
    padding-left:50%;
    color:white;
    font-size:1.25em;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

nav {
    background-color: #ffdfa4;
    padding: 10px 0; 
}

#container {
    max-width: 900px;
    margin: 0 auto; 
}

.menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center; 
}

.menu li {
    border-left: 2px solid orange;
    padding: 0 20px; 
    text-align: center; 
}

.menu li:first-child {
    border-left: none; 
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: hsl(60, 7%, 3%);
}

.menu li a:hover {
    background-color: #ffc966; 
}
