body {
    font-family: Arial, sans-serif;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

#MyCart {
    margin-top: 20px;
    margin-left: 1%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item img {
    max-width: 300px;
    margin-right: 20px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-item-name {
    font-size: 1.2em;
    margin: 0;
}

.cart-item-price {
    font-size: 1em;
    color: #555;
}

#reset_cart_button {
    font-size: 16px;
    width: 11%;
    height: 20%;
    background-color: black;  
    color: white;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 1%;
}
