#shoes_offer1 {
    position: absolute;
    border: 2px solid black;
    border-radius: 4px;
    width: 31%;
    height: 70%;
    margin-top: 44px;
    margin-left: 1%;
}

#image_shoes_1 {
    position: absolute;
    width: 86%;
    height: 45%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 4px;
    background-color: antiquewhite;
}

#add_to_card_shoes_1 {
    position: absolute;
    width: 30%;
    height: 4%;
    margin-top: 100%;
    margin-left: 65%;  
    background-color: black;  
    color: white;
}

#description_shoes_1 {
    position: absolute;
    margin-top: 65%;
    text-align: center;
}

/*navbar style */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #ffdfa4;
    padding: 10px 0; 
}

#container {
    max-width: 900px;
    margin: 0 auto; 
}

.menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center; 
}

.menu li {
    border-left: 2px solid orange;
    padding: 0 20px;
    text-align: center; 
}

.menu li:first-child {
    border-left: none;
}


.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: hsl(60, 7%, 3%);
}

.menu li a:hover {
    background-color: #ffc966;
}